.App {
  text-align: center;
}

.search {
  margin: 20px 0;
}

[type='text'],
[type='submit'] {
  padding: 6px 12px;
  margin: 0 5px;
}

[type='text'].error {
  border: 1px solid red;
}

.user-name {
  margin-bottom: 10px;
}
